<div class="container">
  <h1>Welcome to URL shortener!</h1>
  <p>The URL is invalid!</p>

  <form action="/urls" method="post">
    <input name="url" type="text" placeholder="Your URL" autofocus>
    <input type ="submit" name="Submit!">
  </form>

</div>